@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./AkayaKanadaka-Regular.ttf);
}

body {
  margin: 0;
  background-color: dimgray;
}

/* monthsList.findIndex(month)%2 === 0 ?
  (monthsList.findIndex(month) === 2 ?
          setMaxDays(28)
      :
          setMaxDays(31)
  )
:
  setMaxDays(30) */

/* if (monthsList.findIndex(activeMonth)%2 === 0) {
    if (monthsList.findIndex(activeMonth) === 2) {
        setMaxDays(28);
    } else {
        setMaxDays(30);
    }
} else {
    setMaxDays(31);
} */
